@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../../node_modules/@ibm/plex-mono/fonts/complete/woff2/IBMPlexMono-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../../node_modules/@ibm/plex-mono/fonts/complete/woff2/IBMPlexMono-Bold.woff2') format('woff2');
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --haunted-black: #000000;
  --toxic-green: #00ff00;
  --dark-green: #0a3d0a;
  --blood-red: #ff0000;
  --font-ibm-plex-mono: 'IBM Plex Mono', monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-creepster {
  font-family: var(--font-creepster), cursive;
}

.font-mono {
  font-family: var(--font-ibm-plex-mono), monospace;
}

.bg-haunted-black {
  background-color: var(--haunted-black);
}

.bg-haunted-image {
  background-image: url('/haunted-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-toxic-green {
  color: var(--toxic-green);
}

.text-dark-green {
  color: var(--dark-green);
}

.border-toxic-green {
  border-color: var(--toxic-green);
}

.border-dark-green {
  border-color: var(--dark-green);
}
